body{
    background-color: gray;
    background-image: url("/static/img/Fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}